
.background {
  width: 800px;
  height: 800px;
  border-radius: 8px;
  background-color: cornflowerblue;
  backdrop-filter: blur(5px);
  box-shadow:15px 15px 15px 15px rgba(0, 0, 0, 0.7) ;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.content {
  width: 700px;
  height: 700px;
  border-radius: 12px;
  background-color: rgb(246, 207, 207);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
 
.content .title {
  display:inline-block;
  text-align: center;
  border-radius: 1rem;
  background-color:  rgb(246, 207, 207) ;
  color: black;
  font-family:  'Lucida Grande', sans-serif;
  font-size: 25px; ;
}

.title h1{
  background: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px 4px rgb(0,0,0,0.5);
}
  
.closebutton {
  display: flex;
  justify-content: flex-end;
  background: transparent;

}

.closebutton button {
  background: transparent;
  padding-right: 7px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  
}

.closebutton button:hover{
  color: white;
  
}

  
.content .body {
  width: 570px;
  height: 300px ;
  background: transparent;
  display: inline-block;
  font-size: 1.7rem;
  background: transparent;
  background-color: rgb(246, 207, 207)  ;
  position: absolute;
  top: 10rem;
  right: 25px;
  bottom: 45px;

}

.body p{
  width: 565px;
  height: 375px ;
  /*background: transparent;*/
  /*background-image: img.jpg;*/
  background: url(https://srv2.imgonline.com.ua/result_img/imgonline-com-ua-resize-RL5J2JPeE5csw.jpg);
  border-radius: 5px;
  position:absolute;
  top:1rem ;
  left: -5rem;
}

.content .footer {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 40rem;
  left: 15rem;
}

.content .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgb(0,0,0,0.5) ;
}


#continue:hover{
  background-color: white;
  color: cornflowerblue;
}

  
#cancel {
  background-color: crimson;
}

#cancel:hover{
  background-color: white;
  color: crimson;
}


  